.lightbox {
  cursor: pointer;
  position: relative;

  background-color: @brand-primary;
  border-radius: @border-radius-base;

  &:after {
    content: ' ';
    position: absolute;
    right: 0;
    bottom: 8px;
    width: 58px;
    height: 44px;
    background: white url('../images/noun_154211_cc.svg') center/50px no-repeat;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.lightbox img {
  opacity: 1;
  transition: opacity 120ms ease-out;
}
.lightbox:hover img {
  opacity: .7;
}

.overlay {
  backface-visibility: none;
  position: fixed;
  z-index: 1200;
  background-color: fade(@gray-darker, 90%);
  transition: all 720ms;
}
.overlay.is-hidden {
  background-color: fade(@gray-darker, 0%);
}
