
// Colors
@gray-darker:            #252729; // Pantone 426 C
@gray-dark:              mix(@gray, @gray-darker);
@gray:                   #8a8b8c; // Pantone 423 C
@gray-light:             mix(white, @gray, 50%);
@gray-lighter:           mix(white, @gray, 90%);

@brand-primary:           #27ae60;

// Typography
@font-family-sans-serif:    'Roboto', sans-serif;
@font-family-serif:         'Domine', serif;

@font-size-small:         13px;
@font-size-base:          15px;
@font-size-large:         23px;
@font-size-xlarge:        32px;
@font-size-xxlarge:       45px;

@font-weight-normal:      400;
@font-weight-bold:        600;
@headings-font-weight:    @font-weight-normal;

@line-height-base:        1.5;

// Components
@border-radius-base:        3px;
@border-radius-large:       5px;
@border-radius-small:       1px;

@wp-adminbar-height:        32px;

// Grid settings
@grid-gutter-width:         64px;

// Navbar
@navbar-height:                    60px;
@navbar-margin-bottom:             0;
@navbar-border-radius:             0;
@navbar-default-color:             @text-color;
@navbar-default-bg:                @body-bg;
@navbar-default-border:            @gray-lighter;
@navbar-default-link-color:                @navbar-default-color;
@navbar-default-link-hover-color:          @brand-primary;
@navbar-default-link-active-color:         @navbar-default-link-hover-color;
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       @navbar-default-color;
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-hover-color;
@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-icon-bar-bg:        @gray;
@navbar-default-toggle-border-color:       transparent;

// Thumbnails
@thumbnail-padding:           1px;
@thumbnail-bg:                transparent;
@thumbnail-border:            transparent;
@thumbnail-border-radius:     0;
@thumbnail-caption-color:     inherit;
@thumbnail-caption-padding:   @padding-base-horizontal;
