
.acf-embed {
  position: relative;
}

.acf-embed .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  pointer-events: none;
}

.acf-embed .embed-container iframe,
.acf-embed .embed-container object,
.acf-embed .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.acf-embed .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.acf-embed .call-to-action {
  position: absolute;
  right: 0;
  bottom: (@line-height-computed / 2);
  left: 0;
  text-align: center;
}
