// Tableflip
// ##

// Tableflip container
.tableflip {
  width: 100%;
  overflow: hidden;
}

// Models container
.tableflip__models {}

// Materials container
.tableflip__materials { }

// Finishes container
.tableflip__finishes { }

// Order container
.tableflip__order { }


// Tableflip slider
// ##

// Slider controls
.tableflip__controls {
  background-color: rgba(0,200,100,.1);
  &:extend(.font-serif-xxlarge);
  text-align: center;
  * {
    display: inline-block;
  }

  [data-tableflip-control="next"],
  [data-tableflip-control="prev"] {
    cursor: pointer;
  }
}

// Slider slides
.tableflip__slides {
  position: relative;
  transition: .6s ease-in-out;
}

// Slider single slide
.tableflip__slide {
  border: 1px solid rgba(0,100,200,.1);
  float: left;
  * {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
