// Tableflip
// ##

// Tableflip container
.tableflip {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

// Models container
.tableflip__models {
  margin-top: (2 * @line-height-computed);
  margin-bottom: (2 * @line-height-computed);
}

.tableflip__model img {
  width: 96%;
  height: auto;
  max-width: 960px;
}

.tableflip__models .tableflip__controls {
  &:extend(.font-serif-xxlarge);
  * {
    display: inline-block;
  }
}

.tableflip__label--model {
  min-width: 5em;
}

// Materials container
.tableflip__materials {
  margin-top: (2 * @line-height-computed);
  margin-bottom: (2 * @line-height-computed);
}

.tableflip__material {
  display: inline-block;
  font-size: @font-size-small;
  width: 70px;

  img {
    border: 2px solid transparent;
    display: block;
    max-width: 60%;
    height: auto;
    margin: 0 auto 10px;
    border-radius: 50%;
  }

  &.selected img {
    border-color: @body-bg;
    box-shadow: 0 0 4px 3px @brand-primary;
  }
}

// Finishes container
.tableflip__finishes {
  margin-top: (2 * @line-height-computed);
  margin-bottom: (2 * @line-height-computed);
}

.tableflip__finish {
  background-color: @gray-lighter;
  border-radius: @border-radius-large;

  font-size: @font-size-small;

  display: inline-block;
  padding: @padding-base-vertical @padding-base-horizontal;
  margin: @padding-small-vertical @padding-small-horizontal;

  &.selected {
    background-color: @brand-primary;
    color: white;
  }
}

// Dimensions container
.tableflip__dimensions {
  margin-top: (2 * @line-height-computed);
  margin-bottom: (2 * @line-height-computed);
}

// Order container
.tableflip__order {
  margin-top: (2 * @line-height-computed);
  margin-bottom: (2 * @line-height-computed);
}

.tableflip__customer {
  max-width: 20em;
  margin-right: auto;
  margin-left: auto;
}

// Controls
.tableflip__control {
  background: transparent;
  border: none;
}

.tableflip__control.tableflip__control--order {
  &:extend(.font-serif-xlarge);
  color: @link-color;
  border: 1px solid @link-color;
}


// Slides
// ##

// Slider slides
.tableflip__slides {
  height: 0;
  overflow: hidden;
  position: relative;
  left: 0;
  transition: .6s ease-in-out;
}

// Slider single slide
.tableflip__slide {
  float: left;
  * {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
