// Main container
.tableflip {
}

// Canvas container
.tableflip-canvas {
}

// Model containers
.tableflip-canvas-model {
  background-color: white; // must match model images
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 180px;
  width: 100%;
}
.tableflip-canvas-model--havang { background-image: url('../images/table-model-havang.jpg'); }
.tableflip-canvas-model--vik { background-image: url('../images/table-model-vik.jpg'); }
.tableflip-canvas-model--ravlunda { background-image: url('../images/table-model-ravlunda.jpg'); }

// Options container
.tableflip-options {
  display: table;
  width: 100%;
}

.tableflip-options-panels {
  display: table-row;
}

.tableflip-options-panel {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 25%;
  min-height: 100px;
  background-color: gold;
  border: 1px solid orange;
  padding-bottom: 1em;
  padding-top: 1em;
}
