
// Typography
body {
  text-rendering: optimizeLegibility;
  font-weight: @font-weight-normal;
}

// Reset headline
h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
  font-family: inherit;
  font-size: @font-size-base;
}

// Didot classes
// This font is only available in three sizes, italic, single-weight
.font-serif-xxlarge {
  font-family: @font-family-serif-xxlarge;
  font-size: @font-size-xxlarge;
  font-style: italic;
  font-weight: @font-weight-normal;
  line-height: 1.05;
}
.font-serif-xlarge {
  font-family: @font-family-serif-xlarge;
  font-size: @font-size-xlarge;
  font-style: italic;
  font-weight: @font-weight-normal;
  line-height: 1.1;
}
.font-serif-large {
  font-family: @font-family-serif-large;
  font-size: @font-size-large;
  font-style: italic;
  font-weight: @font-weight-normal;
  line-height: 1.15;
}

// Main top margin for all content
.wrap {
  margin-top: (@line-height-computed * 2);
}

// Additional container classes
.container-narrow {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: (@container-sm * .66);
  }
  @media (min-width: @screen-md-min) {
    width: (@container-md * .66);
  }
  @media (min-width: @screen-lg-min) {
    width: (@container-lg * .66);
  }
}
