
// Colors
@gray-darker:            #252729; // Pantone 426 C
@gray-dark:              mix(@gray, @gray-darker);
@gray:                   #8a8b8c; // Pantone 423 C
@gray-light:             mix(@gray, white, 50%);
@gray-lighter:           mix(@gray, white, 90%);

@brand-primary:           #27ae60;

// Typography
@font-family-sans-serif:    'Univers LT Pro 57 Condensed', sans-serif;
@font-family-serif-large:   'Didot 24 A', 'Didot 24 B', serif;
@font-family-serif-xlarge:  'Didot 42 A', 'Didot 42 B', serif;
@font-family-serif-xxlarge: 'Didot 64 A', 'Didot 64 B', serif;

@font-size-small:         11pt;
@font-size-base:          14pt;
@font-size-large:         24pt; // Corresponds to fixed Didot sizes
@font-size-xlarge:        42pt; // Corresponds to fixed Didot sizes
@font-size-xxlarge:       64pt; // Corresponds to fixed Didot sizes

@font-weight-normal:      300;  // Must match Didot font
@font-weight-bold:        500;
@headings-font-weight:    @font-weight-bold;

@line-height-base:        1.45;

// Grid settings
@grid-gutter-width:         64px;

// Navbar
@navbar-height:                    60px;
@navbar-margin-bottom:             0;
@navbar-border-radius:             0;
@navbar-default-color:             @text-color;
@navbar-default-bg:                @body-bg;
@navbar-default-border:            @gray-lighter;
@navbar-default-link-color:                @navbar-default-color;
@navbar-default-link-hover-color:          @brand-primary;
@navbar-default-link-active-color:         @navbar-default-link-hover-color;
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       @navbar-default-color;
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-hover-color;
@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-icon-bar-bg:        white;
@navbar-default-toggle-border-color:       transparent;

// Thumbnails
@thumbnail-padding:           1px;
@thumbnail-bg:                transparent;
@thumbnail-border:            transparent;
@thumbnail-border-radius:     0;
@thumbnail-caption-size:      @font-size-small;
@thumbnail-caption-color:     inherit;
@thumbnail-caption-padding:   @padding-base-horizontal;
