
// Colors
@gray-darker:            #252729; // Pantone 426 C
@gray-dark:              mix(@gray, @gray-darker);
@gray:                   #8a8b8c; // Pantone 423 C
@gray-light:             mix(@gray, white, 50%);
@gray-lighter:           mix(@gray, white, 90%);

@brand-primary:           #27ae60;

// Typography
@font-family-sans-serif:  'Gotham Narrow A', 'Gotham Narrow B', sans-serif;
@font-family-serif-24:    'Didot 24 A', 'Didot 24 B', serif;
@font-family-serif-42:    'Didot 42 A', 'Didot 42 B', serif;
@font-family-serif-64:    'Didot 64 A', 'Didot 64 B', serif;

@font-size-small:         11pt;
@font-size-base:          15pt;
@font-size-large:         24pt; // Corresponds to fixed Didot sizes
@font-size-xlarge:        42pt; // Corresponds to fixed Didot sizes
@font-size-xxlarge:       64pt; // Corresponds to fixed Didot sizes

@font-size-h1:            @font-size-xxlarge;;
@font-size-h2:            @font-size-xlarge;;
@font-size-h3:            @font-size-large;
@font-size-h4:            @font-size-base;
@font-size-h5:            @font-size-base;
@font-size-h6:            @font-size-base;

@font-weight-normal:      300;  // Must match Typography.com font imports
@font-weight-bold:        700;  // Must match Typography.com font imports

@headings-font-weight:    @font-weight-normal;

@line-height-base:        1.5;
@headings-line-height:    1.1;

// Grid settings
@grid-gutter-width:         64px;

// Navbar
@navbar-height:                    120px;
@navbar-margin-bottom:             0;
@navbar-border-radius:             0;
@navbar-default-color:             white;
@navbar-default-bg:                transparent;
@navbar-default-border:            transparent;
@navbar-default-link-color:                @navbar-default-color;
@navbar-default-link-hover-color:          @brand-primary;
@navbar-default-link-active-color:         @navbar-default-link-hover-color;
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       @navbar-default-color;
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-hover-color;
@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-icon-bar-bg:        white;
@navbar-default-toggle-border-color:       transparent;
