// Typography
@font-family-sans-serif:  'Gotham Narrow A', 'Gotham Narrow B', sans-serif;
@font-family-serif-24:    'Didot 24 A', 'Didot 24 B', serif;
@font-family-serif-42:    'Didot 42 A', 'Didot 42 B', serif;
@font-family-serif-64:    'Didot 64 A', 'Didot 64 B', serif;

@font-size-small:         11pt;
@font-size-base:          15pt;
@font-size-large:         24pt; // Corresponds to fixed Didot sizes
@font-size-xlarge:        42pt; // Corresponds to fixed Didot sizes
@font-size-xxlarge:       64pt; // Corresponds to fixed Didot sizes

@font-size-h1:            @font-size-xxlarge;;
@font-size-h2:            @font-size-xlarge;;
@font-size-h3:            @font-size-large;
@font-size-h4:            @font-size-base;
@font-size-h5:            @font-size-base;
@font-size-h6:            @font-size-base;

@font-weight-normal:      300;  // Must match Typography.com font imports
@font-weight-bold:        700;  // Must match Typography.com font imports

@headings-font-weight:    @font-weight-normal;

@line-height-base:        1.5;
@headings-line-height:    1.1;

// Grid settings
@main-sm-columns:         @grid-columns;
@sidebar-sm-columns:      4;

// Colors
@brand-primary:           #27ae60;

// Navbar
@navbar-height:                    120px;
@navbar-margin-bottom:             0;
@navbar-border-radius:             0;

@navbar-default-color:             @gray-lighter;
@navbar-default-bg:                fade(black, 20%);
@navbar-default-border:            fade(black, 30%);

// Navbar links
@navbar-default-link-color:                @navbar-default-color;
@navbar-default-link-hover-color:          white;
@navbar-default-link-active-color:         @navbar-default-link-hover-color;
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       @navbar-default-color;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-hover-color;

// Navbar toggle
@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-icon-bar-bg:        @gray-lighter;
@navbar-default-toggle-border-color:       transparent;
